{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ client_data.user.first_name }}</h2>
<p>Your Health History:</p>
<p>{{ client_data.health_history }}</p> <!-- TODO: Health history creation in model -->

<h3>Upcoming Appointments</h3>
<ul>
    <!-- Loop through appointments for the user -->
    {% for appointment in appointments %}
        <li>{{ appointment.date }} with {{ appointment.provider.profile.username }}</li>
    {% endfor %}
</ul>

<a href="{% url 'logout' %}">Logout</a>
{% endblock %}
