{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Welcome Section -->
    <div class="text-center mb-4">
        <h1 class="display-5">Welcome, {{ client_data.user.first_name }}!</h1>
        <p class="text-muted">We're glad to have you here.</p>
    </div>

    <!-- Client Information Section -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
            <h5>About You</h5>
        </div>
        <div class="card-body">
            <p><strong>Phone Number:</strong> {{ client_data.phone_number }}</p>
            <p><strong>Bio:</strong> {{ client_data.bio|default:"No bio provided." }}</p>
        </div>
    </div>

</div>

<div class="appointments-list">
    <h2 class="heading">My Appointments</h2>

    {% if appointments %}
        <div class="slots-list">
            {% for appointment in appointments %}
                <div class="slot-card">
                    <div class="slot-details">
                        <p><strong>Provider: {{ appointment.time_slot.provider.get_full_name }}</strong></p>

                        <p>Appointment Type: {{ appointment.get_appointment_type_display }}</p>
                        <p>Start Time: {{ appointment.time_slot.start_time|date:"Y-m-d H:i" }}</p>
                        <p>End Time: {{ appointment.time_slot.end_time|date:"Y-m-d H:i" }}</p>
                        <p>Comments: {{ appointment.comments|default:"None" }}</p>
                    </div>

                    <div class="slot-actions">
                        <!-- Cancel Button -->
                        <form method="post" action="{% url 'appointments:cancel_appointment' appointment.id %}"
                              class="cancel-form">
                            {% csrf_token %}
                            <button type="button" class="btn btn-black"
                                    onclick="confirmCancel({{ appointment.id }})">Cancel
                            </button>
                        </form>

                        <!-- Reschedule Button -->
                        <form method="post" action="{% url 'appointments:reschedule_time_slots' appointment.id %}" class="cancel-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-grey">Reschedule</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-appointments">You have no appointments at the moment.</p>
    {% endif %}
</div>

<script>
    function confirmCancel(appointmentId) {
        if (confirm("Are you sure you want to cancel this appointment?")) {
            document.querySelector(`form[action*="${appointmentId}"]`).submit();
        }
    }
</script>
{% endblock %}
