{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ provider_data.user.first_name }}</h2>
<p>Specialty: {{ provider_data.specialization }}</p>
<p>Bio: {{ provider_data.bio }}</p>

<h3>Your Booked Appointments:</h3>
<ul>
    <!-- Loop through clients assigned to the provider -->
    {% if appointments %}
        {% for appointment in appointments %}
            <li>{{ appointment.user.first_name }} {{ appointment.user.last_name }} - Time: {{ appointment.time_slot.start_time | date:"Y-m-d H:i" }} to {{ appointment.time_slot.end_time | date:"Y-m-d H:i" }}</li>
        {% endfor %}
    {% else %}
        <p>You have no appointments at the moment.</p>
    {% endif %}
</ul>

<a href="{% url 'logout' %}">Logout</a>
{% endblock %}
