<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalmSeek</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>CalmSeek</h1>
            <nav>
                <a href="{% url 'appointments:time_slots' %}" class="nav-title">Available Slots</a>
                <a href="{% url 'appointments:my_appointments' %}" class="nav-title">My Appointments</a>
                <a href="#" class="nav-title">Profile</a>
            <a href="{% url 'logout' %}" class="nav-title">Logout</a>
            </nav>
        </div>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ current_year }} CalmSeek. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
